{
  "root": true,
  "extends": [
    "plugin:vue/essential",
    "@vue/standard"
  ],
  "overrides": [
    {
      "files": [
        "**/__tests__/*.{j,t}s?(x)"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
