<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kudo Wall - Board</title>

    
    <link rel="stylesheet" href="commons/commons.css">
    <link rel="stylesheet" href="commons/board.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="commons/tenant.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body style="background-image: unset;">
    <div id="app">
        <nav class="header">
            <h1>Kudo Wall</h1>
            <h4>Semana {{weekOfYear}}/{{year}} ({{startWeek}} até {{endWeek}})</h4>
        </nav>
        <div class="actions">
            <a class="button pull-right" href="/cadastrar.html" title="Libera ai seu Kudo, vai.">+ Enviar</a>
        </div>
        <div class="cards">
            <div v-if="cards.length === 0" class="card">
                <div class="title">
                    Jesus ta vendo
                </div>
                <div class="content">
                    <img src="private/bebulls/memes/jesus_ta_vendo.png" class="meme">
                    <div class="member">
                        <b>Ei, você mesmo,</b>
                    </div>
                    <div class="message">
                        Que visualiza o board vazio e não manda Kudo.
                    </div>
                </div>
            </div>

            <div v-for="card in cards" v-key="card.id" class="card">
                <div :class="'title ' + getColor(card.meme)">
                    {{card.title}}
                </div>
                <div class="content">
                    <img :src="`private/${team}/memes/${card.meme}`" class="meme">
                    <div class="member">
                        <b>{{card.member}},</b>
                    </div>
                    <div class="message">
                        {{card.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                cards:[]
            },
            methods: {
                loadBoard() {
                    fetch(`${uri}/board/${team}/${year}-${weekOfYear}`)
                    .then(response => response.json())
                    .then(myJson => this.$data.cards = myJson.sort((a, b) => moment(b.timestamp).diff(moment(a.timestamp))));
                },
                getColor(meme) {
                    return meme.replace('.png', '');
                }
            },
            created() {
                this.loadBoard();
            }
        });
    </script>
</body>
</html>

