version: 2.1
jobs:
  build:
    branches:
      only: master

    docker:
      - image: mesosphere/aws-cli

    steps:
      - checkout
      - run:
          name: s3 sync
          command: aws s3 sync public/ s3://kudomundo.ml/page --delete

      - run:
          name: CloudFront invalidate
          command: aws cloudfront create-invalidation --distribution-id E1P85XYM3ZIMR5 --paths "/*"
