version: 2
jobs:
  build:
    working_directory: ~/kudomundo-frontend
    docker:
      - image: circleci/node:10.16.3
    steps:
      - checkout

      - restore_cache:
          keys:
            - dependencies-cache-{{ checksum "package.json" }}
            - dependencies-cache

      - run:
          name: Dependencies install
          command: yarn

      - run:
          name: lint
          command: yarn lint

      - run:
          name: build
          command: yarn build

      - save_cache:
          paths:
            - node_modules
          key: dependencies-cache-{{ checksum "package.json" }}

  deploy:
    working_directory: ~/kudomundo-frontend
    docker:
      - image: mesosphere/aws-cli

    steps:
      - run:
          name: s3 sync
          command: aws s3 sync dist/ s3://kudomundo.ml/page --delete
      # - run:
      #     name: CloudFront invalidate
      #     command: aws cloudfront create-invalidation --distribution-id E1P85XYM3ZIMR5 --paths "/*"

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
