version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.16.3
    working_directory: ~/kudomundo-frontend

    steps:
      - checkout

      - restore_cache:
          keys:
            - dependencies-cache-{{ checksum "package.json" }}
            - dependencies-cache

      - run:
          name: Dependencies install
          command: yarn

      - run:
          name: lint
          command: yarn lint

      - run:
          name: test
          command: yarn test

      - run:
          name: build
          command: yarn build

      - store_artifacts:
          path: coverage

      - save_cache:
          paths:
            - node_modules
          key: dependencies-cache-{{ checksum "package.json" }}

      - save_cache:
          key: v1-dist-{{ .Environment.CIRCLE_BRANCH }}-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - dist
            - coverage

  deploy:
    docker:
      - image: mesosphere/aws-cli
    working_directory: ~/kudomundo-frontend

    steps:
      - run:
          name: install certificate
          command: |
            apk update
            apk add ca-certificates

      - restore_cache:
          key: v1-dist-{{ .Environment.CIRCLE_BRANCH }}-{{ .Environment.CIRCLE_SHA1 }}

      - run:
          name: s3 sync
          command: aws s3 sync /home/circleci/kudomundo-frontend/dist/ s3://kudomundo.ml/page --delete

      - run:
          name: CloudFront invalidate
          command: aws cloudfront create-invalidation --distribution-id E1P85XYM3ZIMR5 --paths "/*"

  sonar:
    docker:
      - image: circleci/node:10.16.3
    working_directory: ~/kudomundo-frontend

    steps:
      - checkout

      - restore_cache:
          keys:
            - dependencies-cache-{{ checksum "package.json" }}
            - v1-dist-{{ .Environment.CIRCLE_BRANCH }}-{{ .Environment.CIRCLE_SHA1 }}

      - run:
          name: sonarcloud
          command: yarn sonar-scanner -Dsonar.projectKey=kudomundo-frontend -Dsonar.organization=db1global -Dsonar.sources=./src -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=5e0469dead75c747b45b127591547db60e04d9aa

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
      - sonar:
          requires:
            - deploy
          filters:
            branches:
              only: master
