html, body {
    overflow-y: hidden;
}

.cards {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    grid-gap: 24px;
    width: calc(100% - 46px);
    padding-left: 24px;
    padding-right: 24px;
    overflow-y: auto;
    max-height: calc(100vh - 180px);
}

@media(max-width: 1840px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 1240px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 870px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    background-color: #ddd;
    width: 100%;
    border-radius: 5px;
}

.content {
    display: grid;
    grid-template-areas: 
    'img member'
    'img message';
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
}

.member {
    grid-area: member;
    text-align: left;
    padding-top: 5px;
}

.message {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center
}

.meme {
    grid-area: img;
    max-height: 150px;
    max-width: 150px;
    padding: 10px;
}

.title {
    background-color: #f43110;
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 25px;
    border-radius: 5px 5px 0 0;
}

.actions {
    padding-left: 20px;
    padding-right: 20px;
}