#app {
    max-width: 760px;
    margin: 0 auto;
}

body {
    background-color: #1f2044;
    align-items: center;
    color: #1f2044;
}

.abas {
    padding-top: 15px;
    margin: 0;
    background-color: white;
    position: relative;
    overflow: hidden;
    list-style-type: none;            
}

.abas > li {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.abas > li:before {
    content: "";
    display: block;
    color: #1f2044;
    background-color: #1f2044;
    border: 5px solid #ccc;
    text-align: center;
    width: 1.7em;
    height: 1.7em;
    line-height: 2em;
    border-radius: 2em;
    position: relative;
    left: 50%;
    margin-bottom: 1em;
    margin-left: -1em;
    z-index: 1;
    padding: 2px;
    cursor: pointer;
}

.abas > .current ~ li:before {
    background-color: #ccc;
    color: #ccc;
    border-color: #ccc;
    cursor: initial;
}

.abas li + li:after {
    content: "";
    display: block;
    width: 100%;
    background-color: #1f2044;
    height: 12px;
    position: absolute;
    left: -50%;
    top: 15px;
    z-index: 0;
}

.abas > .current ~ li:after {
    background-color: #ccc;
}

.header-form {
    background-color: #3a3c6e;
    color: white;
    padding: 10px;
    margin: 0;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.content {
    background-color: white;
    padding: 60px;
    padding-top: 30px;
}

.question {
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    grid-gap: 20px;
    width: 100%;
}

.member {
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 7px;
    min-height: 130px;
    display: grid;
    grid-template-rows: 1fr auto;
}

.member:hover {
    background-color: #ccc;
    cursor: pointer;
}

.member-image {
    border-radius: 40px;
    margin: 0 auto;
}

.member-name {
    font-weight: bold;
    align-content: center;
}

.meme {
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    min-height: 80px;
    display: grid;
    grid-template-rows: 1fr auto;
    width: 100%;
}

.meme img {
    margin: 7px auto;
    max-width: 100%;
    max-height: 90px;
}

.meme label {
    border-radius: 0 0 7px 7px;
    height: 60px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
}

.meme:hover {
    background-color: #ccc;
    cursor: pointer;
}

.description {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 15px;
    width: 100%;
}

.ql, .question-label, .description label {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 14pt;
}

.question-label {
    margin-bottom: 15px;
    float: left;
}

textarea {
    resize: none;
    font-family: MontSerrat;
    font-size: 12pt;
    padding: 10px;
}

.action {
    display: flex;
    justify-content: flex-end;
}

small {
    font-size: 10pt;
    font-weight: normal;
}

@media(max-width: 760px) {
    .question {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 600px) {
    .question {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card {
    margin: 0 auto;
    background-color: #ddd;
    width: 100%;
    border-radius: 5px;
    max-width: 450px;
    margin-top: 15px;
}

.card-content {
    display: grid;
    grid-template-areas: 
    'img member'
    'img message';
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
}

.card-member {
    grid-area: member;
    text-align: left;
    padding-top: 5px;
}

.card-message {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center
}

.card-meme {
    grid-area: img;
    max-height: 150px;
    max-width: 150px;
    padding: 10px;
}

.card-title {
    background-color: #f43110;
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 25px;
    border-radius: 5px 5px 0 0;
}

@media(min-width: 1220px) {
    .back-button {
        position: fixed;
        top: 15px;
        left: calc(calc(50vw - 350px) / 2 - 100px); 
    }
}
